.aboutMe-text {
    color: white;
}

.aboutMe-title-box {
    width: 100%;
}



.aboutMe-box {
    display: flex;
    flex-direction: column;
}

.aboutMe-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CDCDCD;
}

.aboutMe-left {
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutMe-text {
    color: white;
    align-self: flex-start;
    font-size: 1em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.aboutMe-text:first-child {
    font-size: 1.5em;
    text-align: center;
}


.aboutMe-title {
    color: white;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-bottom: 20px;
    border-bottom: 4px solid white; /* Combine border-bottom-color and border-bottom-style */
}

.aboutMe-row-icon {
    color: white;
    height: auto;
    width: 10%;
    margin-left: auto;
    padding: 0 10px 10px 0;
}
