.contactContainer {
    display: flex;
    color:white;
    justify-content: space-between;
}

.contactLeft {
    /*flex: .5;*/
    padding: 2%;
    margin: 20px;
    border-radius: 10px;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 50%;
}

.contactRight {
    max-width: 50%;
    padding-right: 2.5%;
}

.bigScreen {
    display: inline-block;
}

.smallScreen {
    display: none;
}

@media screen and (max-width: 768px) {
    .contactContainer {
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .contactLeft {
        max-width: 100%;
        margin: 20px 20px 0 20px;
    }

    .contactRight {
        max-width: 100%;
        padding: 0;
    }

    .bigScreen {
        display: none;
    }

    .smallScreen {
        display: inline-block;
    }
}