.titleArea-header {
    color: white;
    font-size: 80px;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
}

.titleArea-subheader {
    color: #c2c2c2;
    font-size: 2.5REM;
    margin: 0;
    padding: 0;
}
.titleArea-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #c2c2c2;
    font-size: 18px;
    line-height: 28px;
    opacity: 100%;
    font-weight: 400;
    width: 100%;
    align-self: flex-start;
    margin: 0;
}
.titleArea-box {
    display: flex;
    align-items: center; /* Center the content vertically */
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute the content evenly */
    width: 100%;
}

.titleArea-left {
    flex: 1;
    white-space: nowrap;
    overflow: hidden; /* Hide any overflowed text */
    text-overflow: ellipsis; /* Add an ellipsis (...) for truncated text */
}

.titleArea-right {
    flex-shrink: 0; /* Prevent the right element from shrinking */
    width: 308px;
    float:right;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.titleArea-button {
    width: 100%;
    align-self: flex-end;
    color: white;
    background-color: #482FC0;
    border: 0;
    line-height: 28px;
    padding: 8px 16px 8px 16px;
    margin-top: auto;
    border-radius: 6px;
    overflow: hidden; /* Hide any overflowed content */
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}