.topBar-header {
    color: white;
    font-family: 'Open Sans', serif;
    font-weight: 700;
    position: relative;
    padding: 3% 1.5% 3% 1.5%; /* Add padding values as needed */
    margin: 0;
}
